/* Centering the form within the page */
.signup-form {
    width: 100%;
    max-width: 360px; /* Maximum width of the form */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Subtle shadow around the form */
    background-color: white; /* White background for the form */
    border-radius: 8px; /* Rounded corners for the form */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers the form elements horizontally */
}
.signin {
    margin-bottom:2rem;
}
button span {
    margin-bottom: 0;
}

.signup-form h2 {
    margin-bottom:1rem;
    padding:1rem;
}

.signup-form a { color : #0062cc; }

.login {
    margin:auto;
    padding:1rem;
}
.login a {
    display: flex;
    justify-content: center;
}

/* Styling for form elements to ensure they are centered and appealing */
.input-box, .p-field-checkbox, .button-box {
    width: 100%; /* Makes sure each input box takes full width of the form */
    display: flex;
    flex-direction: column;
    align-items: center; /* Center align the children */
    margin-bottom: 20px; /* Space between form fields */
}

/* Labels floating above the inputs */
.p-float-label label, .p-float-label input {
    width: 100%; /* Ensures labels and inputs align neatly */
    text-align: left; /* Aligns the text to the left */
}

/* Error message styling */
.signup-form .p-error {
    color: red; /* Red color for error messages */
    font-size: 0.8em; /* Smaller font size for error text */
    text-align: center; /* Centers error messages */
}

/* Button styling */
.signup-form .p-button {
    width: 100%; /* Full width button */
    margin-top: 10px; /* Space above the button */
}

/* Link styling for the login redirection */
.link, .link:hover {
    display: block;
    text-align: center;
    margin-top: 20px; /* Space above the link */
    color: #0062cc; /* Blue color for links */
    text-decoration: none; /* No underline */
    text-decoration: underline; /* Underline on hover for better interactivity */
}
