#produit-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem;
    padding: 5% 10%;
}

#produit img {
    width: 100%;
    height: 15rem;
}

#produit {
    height: min-content;
    margin-bottom: 3rem;
}

