/*body {*/
/*  margin: 0;*/
/*  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',*/
/*    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',*/
/*    sans-serif;*/
/*  -webkit-font-smoothing: antialiased;*/
/*  -moz-osx-font-smoothing: grayscale;*/
/*}*/

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Full viewport height */
  background-color: #f4f4f4; /* Light gray background */
  color: #333; /* Dark gray text */
  font-family: 'Arial', sans-serif; /* Default font */
}

#root {
  width: 100%;
  height: 100%;
}

.container:not(.homePage) {
  width: 100%;
  height: 100%;
  /*display: flex;*/
  /*align-content: center;*/
  /*align-items: center;*/
  /*justify-content: center;*/
}


.firstBlock {
  height:35rem;
}
.firstBlock div {
  height:100%;
}



#container-fullDetails .p-image-preview-container img {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover; /* This ensures the image covers the designated area without distortion */
}
#container-fullDetails .p-image-preview-container {
  width: 100% !important;
  height: 100% !important;
}
#container-fullDetails #pr_id_1_header {
  width: 100% !important;
  height: 100% !important;
}

#container-fullDetails .p-panel-header {
  height:fit-content;
}

#container-fullDetails {
  border-radius:1rem;
  overflow: initial !important;
}

.mr-1 {
  margin-right: 0.5rem !important;
}

#admin-panel .p-datatable .p-paginator-bottom {
  border-radius: 0 0 1rem 1rem !important;
}


#admin-panel .p-column-filter-menu {
  margin-left:0 !important;
}

/*#admin-panel td {*/
/*  text-align: center !important;*/
/*}*/

#admin-panel .pi:not(.datePast) {
  font-size: 1.3rem !important;
}



#btn-form-offert .p-panel .p-panel-content {
  border:none !important;
}

#btn-form-offert button {
  padding: 1rem 4rem;
}

#eventFormPurchase #container-formPurchase .p-panel .p-component {
  margin-bottom:1rem !important;
}

#pr_id_5 {
  margin-top:1rem !important;
}

.input-create-event {
  display:flex;
  align-items: center;
  grid-gap:2rem;

}
.mb1 {
  margin-bottom:1.5rem;
}

.input-create-event .div-target-created  {
  width:100%;

}


.input-select-category-admin {
  display:flex;
  grid-gap:2rem;
}



.p-field.input-select-category-admin {
  margin-right: 0.5rem; /* Adjust the spacing between the elements */
}

.p-field.input-select-category-admin .p-dropdown {
  flex: 1; /* Allow the dropdown to grow and fill available space */
}

.btn-created-event {
  flex: none !important;
  width: 30px !important;
  display:flex;
  justify-content:center;
}

/*.image-upload-created {*/
/*  height:5rem;*/
/*}*/

.image-upload-created .p-fileupload-basic {
  height:100%;
}

.image-upload-created .p-fileupload-basic .p-fileupload-choose {
  height:100%;
  width:100% !important;
}

.input-up-img-created {
  display: grid;
  grid-template-columns: 1fr 1fr;

}

.input-create-event-price {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
}

.btn-sub-created-event {
  width:60% !important;
  display: flex !important;
  justify-content: center;
  margin: auto !important;
  margin-top: 4rem !important;

}


#card-paiement-form #card-element {
  height: 2.25rem;
  padding: 0.5rem 0.75rem;
  border: 1px solid #c8c8c8;
  border-radius: 4px;
  background-color: white;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

#card-paiement-form #card-element:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}